body{
    margin: 0;
}

.content{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.titulo{
    font-size: 2.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}